/* Work sans Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

*{
    margin: 0;
 
}

/* Universal CSS */

        /* Text Color */
.dark1{
    color: rgba(19, 19, 19, 1);
}
.dark2{
    color: rgba(66, 66, 66, 1);
}
.dark3{
    color: rgba(114, 114, 114, 1);
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}


        /* display */

.flex{
    display: flex;
}

/* Button Primary */

.btn-color{
    background-color: rgba(255, 144, 14, 1);
    color: white;

    
}

.btn-primary{
    width: 11rem;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}

/* Navigation section */
.nav-head{
    padding: 3rem 0;
}
.nav-container{
    justify-content: space-between;
    align-items: center;
    margin: 0 13rem;
}
.nav-title{
    font-size: 2.5rem;
}

.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-right: 3.8rem;
    font-size: 18px;
    font-weight: 500;
}

/* Banner content style */
.brn-section{
    flex-direction: column;
}

.banner-content{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5rem auto;
    width: 100%;
    max-width: 54rem;
    gap: 2rem;
}

.bnr-title{
    font-size: 64px;
    font-weight: 700;

}

.bnr-image{
   
    margin: 0 auto;
}

/* media query */

@media screen and (max-width: 430px) {
    .nav-head{
        padding: 1rem auto;
    }
   
    .nav-container{
        flex-direction: column;
        margin: auto;
    }
    .nav-title{
        flex-direction: row;
    }
    .nav-item{
        padding: 0;
        margin: 10px auto;
    }

    .nav-link{
        margin: 10px;
    }

    .banner-content{
        margin: 30px auto;
    }
    .bnr-title{
        font-size: 30px;
    }
    .bnr-description{
        margin: auto 10px;
        font-size: small;
    }

    .bnr-image{
        width: 400px;
    }
    .btn-primary{
        font-size: 15px;
        padding: 15px;
    }
    .bnr-image{
        width: 90vw;
    }
    
}
